{{outlet}}

<div class="well">
  <h3>
    Vaughn Dice <br>
    <small>
      Software Engineer
    </small>
  </h3>

  <h5>
    <a href="https://github.com/vdice">GitHub</a> |
    <a href="https://www.linkedin.com/in/vaughndice">LinkedIn</a>
  </h5>
</div>
